:root {
  --lightbgcolor: #f5f2f0;
  --lightfgcolor: #111;
  --lightfgfilter: brightness(10%);
  --lightlinkcolor: #905;
  --lightspecialfgcolor: #07a;
  --pagewidth: 100%;
  --darkbgcolor: #000;
  --darkfgcolor: #ddd;
  --darkfgfilter: brightness(90%);
  --darklinkcolor: #e9c163;
  --darkspecialfgcolor: #8da;
  --filledcircle: "●";
  --outlinecircle: "○";
  --halfcircle: "◐";
  --currenttheme: var(--halfcircle);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: var(--darkbgcolor);
    --fgcolor: var(--darkfgcolor);
    --fgfilter: var(--darkfgfilter);
    --linkcolor: var(--darklinkcolor);
    --specialfgcolor: var(--darkspecialfgcolor);
    --darkcircle: var(--outlinecircle);
    --lightcircle: var(--filledcircle);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bgcolor: var(--lightbgcolor);
    --fgcolor: var(--lightfgcolor);
    --fgfilter: var(--lightfgfilter);
    --linkcolor: var(--lightlinkcolor);
    --specialfgcolor: var(--lightspecialfgcolor);
    --darkcircle: var(--filledcircle);
    --lightcircle: var(--outlinecircle);
  }
}

@media all and (min-width: 50rem) {
  :root {
    --pagewidth: 50rem;
  }
}
body:not(.darktheme, .lighttheme) button[data-theme="system"] {
  border: 1px solid var(--fgcolor);
  border-radius: 10px;
}

body.darktheme {
  --bgcolor: var(--darkbgcolor);
  --fgcolor: var(--darkfgcolor);
  --fgfilter: var(--darkfgfilter);
  --linkcolor: var(--darklinkcolor);
  --specialfgcolor: var(--darkspecialfgcolor);
  --darkcircle: var(--outlinecircle);
  --lightcircle: var(--filledcircle);
  --currenttheme: var(--darkcircle);
}
body.darktheme button[data-theme="dark"] {
  border: 1px solid var(--fgcolor);
  border-radius: 10px;
}
body.lighttheme {
  --bgcolor: var(--lightbgcolor);
  --fgcolor: var(--lightfgcolor);
  --fgfilter: var(--lightfgfilter);
  --linkcolor: var(--lightlinkcolor);
  --specialfgcolor: var(--lightspecialfgcolor);
  --darkcircle: var(--filledcircle);
  --lightcircle: var(--outlinecircle);
  --currenttheme: var(--lightcircle);
}
body.lighttheme button[data-theme="light"] {
  border: 1px solid var(--fgcolor);
  border-radius: 10px;
}

html,
body {
  color: var(--fgcolor);
  fill: var(--fgcolor);
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 0 0.25rem;
  width: var(--pagewidth);
}

a {
  color: var(--linkcolor);
}

.drawing {
  filter: var(--fgfilter);
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 1.5rem;
}

header .title {
  flex-shrink: 0;
  font-weight: bolder;
  height: 2.5rem;
  line-height: 2.5rem;
}

header .title a {
  color: inherit;
  text-decoration: none;
}

header nav {
  flex: 1 0 auto;
}

header .menu {
  flex-shrink: 0;
  padding-right: 0.5rem;
  position: relative;
}

header .menu ul {
  border: 1px solid var(--fgcolor);
  border-radius: 10px;
  padding: 0.75rem;
  line-height: 2rem;
  margin: 0;
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  width: max-content;
}
header .menu button {
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
}
header .menu button:hover {
  color: var(--specialfgcolor);
  fill: var(--specialfgcolor);
}

header svg,
header img {
  width: 1.5rem;
  height: 1.5rem;
}

header .menu a {
  color: inherit;
  text-decoration: none;
}

ul.biglist {
  line-height: 1.75em;
  list-style: none outside;
  font-size: xx-large;
  padding: 0;
}

ul.biglist a {
  border-bottom: 2px solid var(--fgcolor);
  text-decoration: none;
  color: var(--specialfgcolor);
}

main {
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

footer {
  flex-shrink: 0;
  font-size: 0.8rem;
}
button {
  border: none;
  background-color: var(--bgcolor);
  color: var(--fgcolor);
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
button[data-theme],
button.theme-switcher {
  font-size: 1.5rem;
}
button[data-theme]::before,
button.theme-switcher::before {
  font-family: monospace;
  font-size: 2rem;
  line-height: 1.5rem;
}

.theme-switcher::before {
  content: var(--currenttheme);
}
button[data-theme="system"]::before {
  content: var(--halfcircle);
}
button[data-theme="light"]::before {
  content: var(--lightcircle);
}
button[data-theme="dark"]::before {
  content: var(--darkcircle);
}

#install_pwa {
  display: none;
  cursor: pointer;
}

#skipnav {
  background-color: var(--bgcolor);
  padding: 0.5rem;
  position: absolute;
  top: -3rem;
  left: 0;
  transition: top 1s ease-out;
  z-index: 100;
}

#skipnav:focus {
  top: 0;
  left: 0;
}
