{
    "env": {
        "serviceworker": true,
        "browser": true
    },
    "extends": "xo-space/browser",
    "rules": {
        "no-restricted-globals": [
            "off",
            "self"
        ]
    }
}
